<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato:wght@300&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- FONTAWESONE -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- STYLES -->
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/detalle.css"/>
    <title>Rosé</title>
  </head>
  <body>
<header id="navbar">
      <nav class="navbar" >
          <a href="#" class="logo"><img src="/images/LOGO.png" alt="logo"></a>

          <ul class="nav-menu"> 
            <li class="nav-item"> <a href="#" class="nav-link">Inicio</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Tienda</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Contacto</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Login</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Mi carrito</a></li>
              <li class="nav-item__burguer">
                <a href=""><i class="iconosFooter fa-brands fa-facebook"></i></a>
                <a href=""><i class="iconosFooter fa-brands fa-instagram"></i></a>
                <a href=""><i class="iconosFooter fa-brands fa-github"></i></a>
              </li>

          </ul>
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>


          </div>
      </nav>


  </header>

           <!--productos-->
<body class="DETALLE-noe">  

<div class="producto1-noe">
             <p>Inicio / Producto / Vino</p>
             
             <div class="producto-noe">
              <img  width="100px"  src="images/3raOFerta-Pittacum-Petit-Pittacum.png"> 
              <div class="nombre-noe">                         

                <span class="titulo-noe"><h3>Pittacum petit 2021</h3></span>
                <span class="precio-noe">$3500</span>
              </div>                     
              <hr>
              <div class="boton-noe">
                <button type="submit" class="btn btn-submit">Comprar</button>           
              </div>                           
        <div class="descripcion1-noe">
          <h2>Detalle :</h2>
        
          <h3>Petit Pittacum es el vino de la bodega que mejor refleja el carácter atlántico de los vinos del Bierzo. Procede de suelos arcillosos, más frescos, con viñas cultivadas sobre empinadas laderas orientadas al este y al norte. Son estos parajes los que Petit Pittacum busca mostrar, pura expresión atlántica, fluida y golosa al mismo tiempo.</h3>
          <ol class="lista-noe">
            <li>Elaborador: Pittacum</li>
            <li>Año: 2021</li>
            <li>Color: Tinto</li>
            <li>Variedad: Mencía</li>
            <li>Zona: Bierzo</li>
            <li>País: España</li>
            <li>Grado alcohólico: 13,5</li>
          </ol>
        </div>
</div>

<div class="producto2-noe">
  <p class="otro2-noe">Tambien te recomendamos</p>
            
  <img  width="100px"  src="images/3raOFerta-Pittacum-Petit-Pittacum.png"> 
      <div class="nombre2-noe">                         
          <span class="titulo2-noe"><h3>Michelini i Mufatto GY 2019</h3></span>
          <span class="precio2-noe">$3.850</span>
      </div>
      <div class="ver-noe">
       <a class="more-noe">ver más</a>
      </div>
</div>
</div>


           <!-------------------- FOOTER ----------->
           <footer>
            <div class="container_footer">
              <div class="box_footer">
                <div class="logo" style="font-size: 20px">
                  <img src="images/LOGO.png" alt="ICONO" />
                </div>
                <div class="terms">
                  <p>
                    Beber con moderación. Prohibida su venta a menores de 18 años. El
                    abuso de alcohol es peligroso para la salud. Rosé Argentina apoya
                    el consumo responsable.
                  </p>
                </div>
              </div>
              <div class="organizarfooterRow">
                <div class="box__footer">
                  <h2>Tus dudas</h2>
                  <a href="/PreguntasFrecuentes">Preguntas Frecuentes</a>
                  <a href="/privacidad">Privacidad</a>
                  <a href="/nosotros">Nosotros</a>
                </div>
      
                <div class="box__footer">
                  <h2>Contacto</h2>
                  <ol>
                    <li>Lunes a viernes de 08:00 a 20:30 hs.</li>
                    <li>Brandsen 805 CABA</li>
                    <li>(011) 5777-5757</li>
                    <li>rosé@rosé.com</li>
                  </ol>
                </div>
      
                <div class="box__footer">
                  <h2>SEGUINOS</h2>
                  <div class="redes">
                    <a href="#"
                      ><i class="iconosFooter fa-brands fa-instagram"></i
                    ></a>
                    <a href="#"
                      ><i class="iconosFooter fa-brands fa-linkedin-in"></i
                    ></a>
                    <a href="#"><i class="iconosFooter fa-brands fa-github"></i></a>
                    <a href="#"><i class="iconosFooter fa-brands fa-facebook"></i></a>
                  </div>
                </div>
              </div>
              <!---organizarfooterRow-->
            </div>
            <!-- conteiner- footer-->
            <div class="box__copyright">
              <hr />
              <p>Todos los derechos reservados © 2021-2022 <b>Rosé</b></p>
            </div>
          </footer>      
                                                                                                                                                     
      </body>
      </html>