<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato:wght@300&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- FONTAWESONE -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- STYLES -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Rosé</title>
  </head>
  <body>
  
    <header id="navbar">
      <nav class="navbar" >
          <a href="#" class="logo"><img src="/images/LOGO.png" alt="logo"></a>

          <ul class="nav-menu">
            <li class="nav-item"> <a href="#" class="nav-link">Inicio</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Tienda</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Contacto</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Login</a></li>
            <li class="nav-item"> <a href="carro-de-compra"  class="nav-link">Mi carrito</a></li>
              <li class="nav-item__burguer">
                <a href=""><i class="iconosFooter fa-brands fa-facebook"></i></a>
                <a href=""><i class="iconosFooter fa-brands fa-instagram"></i></a>
                <a href=""><i class="iconosFooter fa-brands fa-github"></i></a>
              </li>
      
          </ul>
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            

          </div>
      </nav>

      
  </header>

    <section
      class="zona1"
        style="
          background: url(images/FOTOOOOOOOOOO.jpg);
          background-size: cover;
          position: relative;
          width: 100%;
          height: 70vh;
          background-position: center center;
        " 
    ></section>

    <!-- -------------------------------------------------- -->
    <div class="total-media-pagina">
      <div class="media__pagina">
        <div class="mediaPagina">
          <div class="primeralinea">
            <div class="iconoMP">
              <span class="iconito vc_icon_element-icon fas fa-truck"></span>
            </div>
            <h3>ENTREGAS EN TODO EL PAÍS</h3>
            <p>Gratis y en 24hs en CABA y GBA a partir de $5000</p>
          </div>
        </div>

        <div class="mediaPagina">
          <div class="primeralinea">
            <div class="iconoMP">
              <span
                class="iconito vc_icon_element-icon fas fa-credit-card"
              ></span>
            </div>
            <h3>PAGÁ COMO PREFIERAS</h3>
            <p>
              Tarjetas de crédito y débito, Rapipago™ y Pagofácil™,
              transferencia bancaria y efectivo contra entrega
            </p>
          </div>
        </div>

        <div class="mediaPagina">
          <div class="primeralinea">
            <div class="iconoMP">
              <span
                class="iconito vc_icon_element-icon fas fa-shield-alt"
              ></span>
            </div>
            <h3>NUESTRO SITIO ES SEGURO</h3>
            <p>Tus datos e información de pago están seguros y encriptados</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Total-media-pagina -->

    <!-- fin media main -->
    <section class="ofertas-menu">
      <hr class="hr-mediaPagina" />
      <div class="ofertas">
        <h2>Novedades</h2>
        <h3>con descuentos</h3>
      </div>

      <!-- MENU -->

      <div class="menu-contenedor">
        <div class="contenedor">
          <img src="images/OFerta1-Petit-Voyage-Criolla.png" />
          <div class="bloque-ofertas">
            <span class="titulo-figure"
              ><h3>Le Petit Voyage Criolla 2021</h3></span
            >
            <div class="precios">
              <span class="precio-figure">$1.900,00</span>
              <span class="oferta-figure">$2.200,00</span>
            </div>
          </div>
          <div class="Añadir-carro-figure">
            <i class="Carro fa-solid fa-cart-arrow-down"></i>
          </div>
        </div>

        <div class="contenedor">
          <img src="images/2da-Oferta-Zorzal-Eggo-Franco.png" />
          <div class="bloque-ofertas">
            <span class="titulo-figure">
              <h3>Eggo Cabernet Franc 2018</h3>
            </span>
            <div class="precios">
              <span class="precio-figure">$2.650,00</span>
              <span class="oferta-figure">$2.300,00</span>
            </div>
          </div>
          <div class="Añadir-carro-figure">
            <i class="Carro fa-solid fa-cart-arrow-down"></i>
          </div>
        </div>
        <div class="contenedor">
          <img src="images/3raOFerta-Pittacum-Petit-Pittacum.png" />
          <div class="bloque-ofertas">
            <span class="titulo-figure">
              <h3>Petit Pittacum Mencía 2018</h3></span >
          
            <div class="precios">
              <span class="precio-figure">$5.400,00</span>
              <span class="oferta-figure">$4.900,00</span>
            </div>
          </div>
          <div class="Añadir-carro-figure">
            <i class="Carro fa-solid fa-cart-arrow-down"></i>
          </div>
        </div>

        <div class="contenedor">
          <img src="/images/4to-Zuccardi-Concreto.png" />
          <div class="bloque-ofertas">
            <span class="titulo-figure">
              <h3>Zuccardi Concreto 2018</h3></span>
            
            <div class="precios">
              <span class="precio-figure">$6.820,00</span>
              <span class="oferta-figure">$5.820,00</span>
            </div>
          </div>
          <div class="Añadir-carro-figure">
            <i class="Carro fa-solid fa-cart-arrow-down"></i>
          </div>
        </div>
      </div>
    </section>
    <!--FIN DIV MENU-CONTENEDOR-->

    <div class="ultimoMenu">
      <div class="ultimoMenu1">
        <img src="/images/BannerChandon.png" alt="Banner" />
      </div>
      <div class="ultimoMenu2">
        <h2>TODOS SON BIENVENIDOS A NUESTRA MESA</h2>
        <p>
          Te invitamos a compartir nuestro espíritu de exploración, coraje y
          deleite. <br />
          ¡Sumate para descubrir juntos un mundo de posibilidades!
        </p>
        <br />
        <div class="ultimoMenuRedes">
          <a href="#"><i class="iconoMenu fa-brands fa-facebook"></i></a>
          <a href="#"><i class="iconoMenu fa-brands fa-github"></i></a>
          <a href="#"><i class="iconoMenu fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <!-- -------------------------------------------------- -->
  <!-- BOTON DE IR HACIA ABAJO -->
    <div id="button-up">
      <i class="fa-solid fa-chevron-up"></i>
    </div>



    <!-- FIN DE BOTON HACIA ABAJO -->
    <script src="/js/main.js"></script>

    <!-------------------- FOOTER ----------->
    <footer>
      <div class="container_footer">
        <div class="box_footer">
          <div class="logo" style="font-size: 20px">
            <img src="images/LOGO.png" alt="ICONO" />
          </div>
          <div class="terms">
            <p>
              Beber con moderación. Prohibida su venta a menores de 18 años. El
              abuso de alcohol es peligroso para la salud. Rosé Argentina apoya
              el consumo responsable.
            </p>
          </div>
        </div>
        <div class="organizarfooterRow">
          <div class="box__footer">
            <h2>Tus dudas</h2>
            <a href="/PreguntasFrecuentes">Preguntas Frecuentes</a>
            <a href="/privacidad">Privacidad</a>
            <a href="/nosotros">Nosotros</a>
          </div>

          <div class="box__footer">
            <h2>Contacto</h2>
            <ol>
              <li>Lunes a viernes de 08:00 a 20:30 hs.</li>
              <li>Brandsen 805 CABA</li>
              <li>(011) 5777-5757</li>
              <li>rosé@rosé.com</li>
            </ol>
          </div>

          <div class="box__footer">
            <h2>SEGUINOS</h2>
            <div class="redes">
              <a href="#"
                ><i class="iconosFooter fa-brands fa-instagram"></i
              ></a>
              <a href="#"
                ><i class="iconosFooter fa-brands fa-linkedin-in"></i
              ></a>
              <a href="#"><i class="iconosFooter fa-brands fa-github"></i></a>
              <a href="#"><i class="iconosFooter fa-brands fa-facebook"></i></a>
            </div>
          </div>
        </div>
        <!---organizarfooterRow-->
      </div>
      <!-- conteiner- footer-->
      <div class="box__copyright">
        <hr />
        <p>Todos los derechos reservados © 2021-2022 <b>Rosé</b></p>
      </div>
    </footer>
  </body>
</html>
