<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato:wght@300&family=Roboto&display=swap"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
    <!-- FONTAWESONE -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- STYLES -->
    <link rel="stylesheet" href="./css/Login.css" />
    <title>Rosé</title>
  </head>
    <header id="navbar">
      <nav class="navbar" >
          <a href="#" class="logo"><img src="/images/LOGO.png" alt="logo"></a>

          <ul class="nav-menu">
            <li class="nav-item"> <a href="index" class="nav-link">Inicio</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Tienda</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Contacto</a></li>
            <li class="nav-item"> <a href="#" class="nav-link">Login</a></li>
            <li class="nav-item"> <a href="carro-de-compra"  class="nav-link">Mi carrito</a></li>
              <li class="nav-item__burguer">
                <a href=""><i class="iconosFooter fa-brands fa-facebook"></i></a>
                <a href=""><i class="iconosFooter fa-brands fa-instagram"></i></a>
                <a href=""><i class="iconosFooter fa-brands fa-github"></i></a>
              </li>
      
          </ul>
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            

          </div>
      </nav> 
  </header>

   <!--  INICIO FORM -->
  <body>
    <div class="container-t">
      <div class="forms-container-t">
        <div class="Signin-signup">

          <form action="#" class="sign-in-form">
            <h2 class="title-t">Iniciar sesión</h2>
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input class="input-t" type="text" placeholder="Usuario" />
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" />
            </div>
            <input type="submit" class="btn solid" value="Iniciar sesión" />
            <p class="smedia-text">O inicia sesión con una de las siguientes plataformas</p>
            <div class="icon-container">
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
            </div>
          </div>
          <p class="register-container"><a class="no-acc" href="register.html">No tengo cuenta</a></p>
          </form>

        </div>
      </div>

      <div class="panel-t"></div>
    </div>

    <!-- inicio animacion -->
    <!-- final animacion -->

    <!-- FIN DE BOTON HACIA ABAJO -->


        <script src="/js/main.js"></script>
      </body>
        <!-------------------- FOOTER ----------->
        <footer>
          <div class="container_footer">
            <div class="box_footer">
              <div class="logo" style="font-size: 20px">
                <img src="images/LOGO.png" alt="ICONO" />
              </div>
              <div class="terms">
                <p>
                  Beber con moderación. Prohibida su venta a menores de 18 años. El
                  abuso de alcohol es peligroso para la salud. Rosé Argentina apoya
                  el consumo responsable.
                </p>
              </div>
            </div>
            <div class="organizarfooterRow">
              <div class="box__footer">
                <h2>Tus dudas</h2>
                <a href="/PreguntasFrecuentes">Preguntas Frecuentes</a>
                <a href="/privacidad">Privacidad</a>
                <a href="/nosotros">Nosotros</a>
              </div>
    
              <div class="box__footer">
                <h2>Contacto</h2>
                <ol>
                  <li>Lunes a viernes de 08:00 a 20:30 hs.</li>
                  <li>Brandsen 805 CABA</li>
                  <li>(011) 5777-5757</li>
                  <li>rosé@rosé.com</li>
                </ol>
              </div>
    
              <div class="box__footer">
                <h2>SEGUINOS</h2>
                <div class="redes">
                  <a href="#"
                    ><i class="iconosFooter fa-brands fa-instagram"></i
                  ></a>
                  <a href="#"
                    ><i class="iconosFooter fa-brands fa-linkedin-in"></i
                  ></a>
                  <a href="#"><i class="iconosFooter fa-brands fa-github"></i></a>
                  <a href="#"><i class="iconosFooter fa-brands fa-facebook"></i></a>
                </div>
              </div>
            </div>
            <!---organizarfooterRow-->
          </div>
          <!-- conteiner- footer-->
          <div class="box__copyright">
            <hr />
            <p>Todos los derechos reservados © 2021-2022 <b>Rosé</b></p>
          </div>
        </footer>
</body>
</html>