*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.btnUser {
    width: 74px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 14px;
    background-color: var(--color-para-hover);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 1s;
}

.btnUserDelete {
    width: 74px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 14px;
    background-color: var(--color-para-hover);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 1s;
}

.btnUser:hover{
    background-color: green;
}

.btnUserDelete:hover{
    background-color: red;
}

.adminIndex {
    text-align: center;
    margin-top: 2rem;
}

.adminIndexUsers {
    text-align: center;
    cursor: pointer;
    margin-bottom: 1.5rem;
    font-weight: 900;
}

.imgAdmingLogin{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.imgAdminUser {
    display: flex;
    justify-content: center;
}

.divProductosAdmin {
    display: flex;
    justify-content: center;
}

.adminIndexButton{
    background-color: var(--color-para-hover);
    text-align: center;
    border-radius: 7px; 
    padding: 5px;
    margin-top: 1rem;
}


td .edit-deleteAdmin {
    display: flex;
    justify-content: space-evenly;
}

