.miCarrito{
    padding: 1.5rem 0;
    text-align: left;
    margin-left: 1rem;
    font-weight: 300;
}
.totalCarrito {
    display: flex;
    flex-direction: column;
    position: relative;
}
.xBorrar {
    position: absolute;
    right: 1.2rem;
    top: 0.5rem;
}
.eliminarBorrar {
    display: none;
}
.productoEnCarrito{
    display: flex;
    justify-content: space-evenly;
    box-sizing: solid 1px black;
    -webkit-box-shadow: 1px 1px 18px 0px rgb(0 0 0 / 30%);
    width: 98%;
    margin-left: 1%;
    margin-bottom: 3rem;
    border-radius: 5px;
}
.nombreDelProducto {
    text-align: center;
    margin: 1.5rem 1rem ;
}
.numerosCarritos {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    text-align: center;
}
.imagenTotalProducto img {
    width: 6rem;
    height: 6rem;
    margin: 0.5rem 0;
    border-radius: 7px;
    
}

.codigoDescuento {
    padding: 2.5rem 0;
    box-sizing: 0px white   ;
    -webkit-box-shadow: 1px 1px 18px 0px rgba(202, 201, 201, 0.3); 
    text-align: center; 
    width: 98%;
    margin-left: 1%;
    margin-bottom: 2px;
    border-radius: 6px;
    background-color: white;
}
.cuponDescuento {
    text-align: center;
}
.barraDeDescuento {
    display: flex;
    justify-content: center;
}
.btnAplicar{
    margin-left: 0.5rem;
    margin-top: 4px;
    height: 1.3rem;
}
.coupon-value{
    padding-bottom: 0px;
    display: flex;
    margin: 4px 0;
}

.totalYsubtotal {
    display: flex;
    flex-direction: column;
    box-sizing: 0px white   ;
    /* -webkit-box-shadow: 1px 1px 18px 0px rgb(0 0 0 / 20%); */
    width: 98%;
    margin-left: 1%;
    margin-bottom: 3rem;
    border-radius: 5px;
    background: #f5f5f7;

}
.subTotalCarrito {
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
    width: 97%;
    background: #f5f5f7;
}
.submit-Compra {
    width: 98%;
    padding: 5px 0;
    margin: 4px 6px;
    color: #343d5b;
    font-weight: 600;
    background-color: white;
}
.h2delCArrito{
    text-align: center;
    margin: 1.5rem 0;
}
.todosLosProductos{
    display: flex;
    flex-direction: column;
    /* padding: 2rem 0; */
    border: solid 1px #e0e0e0;
    width: 90%;
    margin: 11px 4% 0;
}
.otrosProductos {
    /* padding: 1.5rem 0; */
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 3%;
    height: 5rem;
    margin-top: 8px;
}
.textoPalabras {
    text-align: center;
    /* padding: 1.5rem 0; */
}
.submit-carrito {
    width: 90%;
    /* padding: 5px 0; */
    margin: 4px 0;
    background-color: #343d5b;
    color: white;
    font-weight: 600;
}
.imagenOtroProducto img {
    width: 4rem;
    height: 4.5rem;
    /* margin: 0.5rem 0; */
    border-radius: 7px;
    
}
.totalCarroDeCompraDeProductos{
    padding-bottom: 2rem;
}


/* @media(max-width:768px) { */
    /* .codigoDescuento {
        padding: 2.5rem 0;
        box-sizing: 0px white   ;
        -webkit-box-shadow: 1px 1px 18px 0px rgba(202, 201, 201, 0.3); 
        text-align: center; 
        width: 44rem;
        margin: 6px 2.5rem;
        background-color: white;
    } */
    /* .cuponDescuento {
        text-align: center;
    } */
    /* .barraDeDescuento {
        display: flex;
        justify-content: center;
    } */
    /* .btnAplicar{
        margin-left: 0.5rem;
        margin-top: 4px;
        height: 1.3rem;
    } */
    /* .coupon-value{
        padding-bottom: 0px;
        display: flex;
        margin: 4px 0;
    } */
    
    /* .totalYsubtotal {
        display: flex;
        flex-direction: column;
        box-sizing: 0px white   ; */
        /* -webkit-box-shadow: 1px 1px 18px 0px rgb(0 0 0 / 20%); */
        /* width: 44rem;
        margin: 6px 2.5rem;
        background: #f5f5f7;
    
    } */
    /* .subTotalCarrito {
        display: flex;
        margin: 0.5rem 0;
        justify-content: space-between;
        width: 97%;
        background: #f5f5f7;
    }
    .submit-Compra {
        width: 98%;
        padding: 5px 0;
        margin: 4px 6px;
        color: blue;
        font-weight: 600;
        background-color: white;
    }
} */
