
:root {
    /* COLORES */
    --color-principal : #ece4d4;
    --color-para-hover : #cca43c;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none; /*sacar subrayado*/
}

ul{
    list-style: none; /*sacarle las vi単etas*/
}

body {
    background-color: #ece4d4;
}

 body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #414141;
    border-radius: 5px; 
}

/* ***********************HEADER*********************** */

.logo {
    height: 3.5rem;
}

.logo img {
    width: 76px;
    height: 53px;
    position: initial;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* .nav-branding {
    font-size: 2rem;
} */

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: white;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.nav-item__burguer {
    display: none;
}


/* ***********************FIN HEADER*********************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Signin-signup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.sign-in-form {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 9rem;
    background-color: white;
    border-radius: 5%;
    width: 100%;
    max-width: 475px;
    height: 40rem;
    padding-top: 2.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-t {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("/images/vi2.jpeg");
    background-size: cover ;
    background-position: center;
   /*  background-image: linear-gradient(to bottom, #fffef9, #FEDAC1, #D5E1CF, #ece4d4);
    background-color: #B7E6D9;
    background-repeat: no-repeat;   */
   /*  background: linear-gradient(132deg, #ffffff, #ddcaab, #f1e6d0);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite; */
    height: 100vh;
    width: 100%;
    padding:0;
    margin:0px;
   
}

.forms-container-t{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2.title-t{
    font-size: 2.4rem;
    color: rgb(36, 36, 36);
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.input-box{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #e6e6e6;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
}

.input-box i {
    text-align: center;
    line-height: 55px;
    color: #7a7a7a;
    font-size: 1.3rem;
}

.input-box input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    background-color: #e6e6e6;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.input-field input:placeholder-shown{
    color: #333;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius:  48px;
    background-color: var(--color-para-hover);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 1s;
}

.btn:hover {
    background-color: var(--color-para-hover);
}

.smedia-text{
    padding: 0.7rem 0;
}

.social-media{
    display: flex;
    justify-content: center;

}

.social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 1s;
}

/* btn */

.btn:hover{
    border: 2px solid #ffc61a;
  background-color: rgba(365,365,365,0.5);
  cursor: pointer;
  color: #dbbd7a;
  opacity: .8;
  transition: .3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* .input-t ~ .focus-bg{position: absolute; left: 0; top: 0; width: 0; height: 100%; background-color: transparent; transition: 0.4s; z-index: -1;}
.input-t:focus ~ .focus-bg, 
.has-content.input-t ~ .focus-bg{transition: 0.4s; width: 100%; background-color: #ededed;}
.input-t ~ label{position: absolute; left: 14px; width: 100%; top: 10px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.input-t:focus ~ label, .has-content.input-t ~ label{top: -18px; left: 0; font-size: 12px; color: #333; transition: 0.3s;}

 */

/* btn */

.social-icon:hover{
    color: var(--color-para-hover);
    border-color: var(--color-para-hover);
}

.icon-container {
    display: flex;
}

.register-container{
    padding-top: 10px;
}
.no-acc{
    font-weight: bold;
    font-size: 17px;
}


/* animation */
.background {
  position: absolute;
  z-index: 1;
}

  /* Animate Background*/
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

 


/* ***********************FOOTER*********************** */
footer{
    width: 100%;
    padding: 50px 0.7rem;
    background-image:  url(../images/iconfinder-icon.svg);
    background-size: cover;
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
    padding: 0.5rem;
}
.box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}
.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    
}
.box__footer a:hover{
    opacity: 0.8;
}
.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}
.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

ol li {
    list-style: none;
    border-top: 20px;
}


/* PREGUNTAS FRECUENTES */
.PreguntasFrecuentes {
    background-color: #ece4d4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* PRIVACIDAD */
.privacidad {
    background-color: #ece4d4;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* NOSOTROS */
.nosotros {
    background-color: #ece4d4;
    padding: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nosotrosimg {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.nosotrosimg img {
    width: 80%;
    height: 30em;
    border-radius: 2em;
}
.redes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.iconosFooter {
    font-size: 1rem;
    padding: 0 0.5rem;
}

/* ******************FIN FOOTER****************** */



/* ***********************FOOTER*********************** */
footer{
    width: 100%;
    padding: 50px 0.7rem;
    background-image:  url(../images/iconfinder-icon.svg);
    background-size: cover;
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
    padding: 0.5rem;
}
.box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}
.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    
}
.box__footer a:hover{
    opacity: 0.8;
}
.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}
.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

ol li {
    list-style: none;
    border-top: 20px;
}


/* PREGUNTAS FRECUENTES */
.PreguntasFrecuentes {
    background-color: #ece4d4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* PRIVACIDAD */
.privacidad {
    background-color: #ece4d4;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* NOSOTROS */
.nosotros {
    background-color: #ece4d4;
    padding: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nosotrosimg {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.nosotrosimg img {
    width: 80%;
    height: 30em;
    border-radius: 2em;
}
.redes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.iconosFooter {
    font-size: 1rem;
    padding: 0 0.5rem;
}

/* ******************FIN FOOTER****************** */


/* MEDIA QUERIS */
@media (min-width: 500px) {/*TABLET*/
    /*Header*/
    
    /*Fin Header*/
    /*MEDIA PAGINA*/
    
    .mediaPagina {
        font-size: 1rem;
    }
    
    .contenedor figure img{  /*modificador de imagenes*/
        width: 100%; 
        height: 18rem;;
        transition: all 400ms ease-out;
        will-change: transform;
        display: block;
        margin: auto;
        padding-top: 40px;
    }
    
    .A単adir-carro-figure {
        margin-bottom: 7.4rem;
        margin-right: 5.7rem;
    }
    /* fin MAIN */
    }
    /* FIN MEDIAQUERY TABLET */
    @media (min-width: 720px) {
        
    
    .A単adir-carro-figure {
        margin-bottom: 7.4rem;
        margin-right: 3.6rem;
    }
    /* MEDIA PAGINA */
    .mediaPagina {
        border-right: solid 1px rgba(128, 128, 128, 0.233) ;
    }
    
    .media__pagina {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 5rem;
    
    }
    
    .primeralinea {
        width: 13rem;
    }
    
    /* FIN PRIMERA LINEA */
    
    .ofertas h2 {
        font-size: 4rem;
    
    }
    .ofertas h3 {
        font-size: 2rem;
    }
    
    
    
    
    /* FOOTER */
    .organizarfooterRow {
        display: flex;
        justify-content: space-between;
    }
    
    
    /* fin */
    }
    
    /* COMIENZO ESCRITORIO  XL*/
    @media (min-width: 1200px) {
        
    
    /* MEDIA PAGINA */
    .mediaPagina {
        border-right: solid 1px rgba(128, 128, 128, 0.233) ;
    }
    
    .media__pagina {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 5rem 0;
    
    }
    
    .primeralinea {
        width: 20rem;
    }
    
    
    
    .ofertas h2 {
        font-size: 4rem;
    
    }
    .ofertas h3 {
        font-size: 2rem;
    }
    
    .contenedor img{  /*modificador de imagenes*/
        margin: auto;
        
    }
    
    .A単adir-carro-figure {
        margin-bottom: 5.6rem;
        margin-right: 3.1rem;
    }
    
    
    /* ULTIMO MENU */
    
    .ultimoMenu {
        display: flex;
        flex-direction: row;
        /* padding: 0.8rem 0.2rem; */
    }
    
    .ultimoMenu1 {
        width: 50%;
    }
    .ultimoMenu1 img {
        width: 90%;
        padding: 2rem;
    }
    
    .ultimoMenu2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    
    }
    
    .ultimoMenu h2 {
        text-align: center;
        font-size: 2.3rem;
        font-weight: 900;
    }
    
    .ultimoMenu p {
        font-size: 1.3rem;
    }
    
    .iconoMenu{
        font-size: 2rem;
        color: #cca43c;
        text-align: left;
        padding: 5rem 5rem 0;
    }
    
    .organizarfooterRow {
        display: flex;
        justify-content: space-between;
    }
    
    }
    
     /* media menor a 768PX del HEADER */
    
    @media(max-width:768px) {
        .hamburger {
            display: block;
            margin-right: 2rem;
        }
    
        .nav-item__burguer {
            display: flex;
            justify-content: space-between;
        }
        
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);  
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);  
        }
    
        .nav-menu {
            position: absolute;
            left: -100%;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background-color: var(--color-para-hover);
            width: 100%;
            text-align: center;
            transition: 0.3s;
            z-index: 1;
            height: 50vh;
            padding: 1.5rem;
            font-weight: bold;
        }
    
        .navbar {
            padding: 0 12px;
        }
    
        nav-item{
            margin: 16px 0;
        }
    
        .nav-menu.active {
            left: 0;
        }
    }
    