:root {
    /* COLORES */
    --color-principal : white;
    --color-para-hover : #cca43c;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
}

.Signin-signup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.sign-in-form {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 1.2rem;
    background-color: white;
    border-radius: 5%;
    width: 100%;
    max-width: 475px;
    height: 42.5rem;
    padding-top: 2.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-t {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("/images/bodega.jpeg");
    background-size: cover ;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding:0;
    margin:0px;
    padding-top: 62rem;
}

.forms-container-t{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2.title-t{
    font-size: 2.4rem;
    color: rgb(36, 36, 36);
    margin-bottom: 10px;
    font-weight: 100;
}

.input-box{
    max-width: 380px;
    width: 90%;
    height: 55px;
    background-color: #e6e6e6;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
}

.input-box i {
    text-align: center;
    line-height: 55px;
    color: #7a7a7a;
    font-size: 1.3rem;
}

.input-box input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    background-color: #e6e6e6;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.input-field input:placeholder-shown{
    color: #333;
    font-weight: 500;
}

.inputRegister {
    padding: 1rem 0px;
}

.btn {
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius:  48px;
    background-color: var(--color-para-hover);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: -5px 0;
    transition: all 1s;
}

.btn:hover {
    background-color: var(--color-para-hover);
}

.smedia-text{
    padding: 0.7rem 0;
    margin: 1rem;
}

.social-media{
    display: flex;
    justify-content: center;

}

.social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 1s;
}

/* btn */

.btn:hover{
    border: 2px solid #ffc61a;
    background-color: rgba(365,365,365,0.5);
    cursor: pointer;
    color: #dbbd7a;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* btn */

.social-icon:hover{
    color: var(--color-para-hover);
    border-color: var(--color-para-hover);
}

.icon-container {
    display: flex;
}

.register-container{
    padding-top: 10px;
}
.no-acc{
    font-weight: bold;
    font-size: 17px;
}

.sign-in-form .text-danger {
    color: red;
    font-size: 16px;
    text-align: initial;
}

.form-check-label {
    margin: 0.5rem;
}

.checkRegister1 {
    padding: 1.5rem;
    cursor: pointer;
}


/* animation */
.background {
    position: absolute;
    z-index: 1;
}

/* Animate Background*/
@keyframes Gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

@media (min-width: 1200px){
    .sign-in-form{
    max-width: 500px;
    height: 54rem;
    }
    .Signin-signup{
        padding-top: 4rem;
    }
    h2.title-t{
        margin-top: 2rem;
    }
    .smedia-text{
        font-size: 20px;
    }
    .no-acc{
        font-size: 20px;
        font-weight: bold;
    }
    .register-container{
        margin-top: 20px;
    }
    .btn{
        width: 180px;
        height: 60px;
        font-size: 16px;
    }
}
