.checkbox-Tienda {
    display: flex;
    flex-direction: column;

}

.checkboxTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    margin: 0 1%;
    border: solid 1px ;
    border-radius: 11px;
    cursor: pointer;
}
.filter {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 7rem;
}
.buscadorProductos{
    border-radius: 11px;
    width: 8rem;
    margin-right: 1rem;
}
.btn9{
    border-radius: 11px;
    width: 8rem; 
    height: 3rem;
}

.bloque0 .bloque1 , .bloque2, .bloque3{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.legendCategories {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    padding: 1px 0 5px; 
    position: relative;
    top: 3.3rem;
    background-color: black;
    width: 84%;
    color: white;
    display: flex;
    margin-left: 8%;
    text-align: center;
    justify-content: center;
    border-radius: 9px 0 9px 0;
    height: 2.5rem;
}

.body-de-tienda {
    margin: 0px;
    /* background-color: #ecece4; */
    font-family: 'Overpass', sans-serif;
    padding: 2.5rem 0;
}

#buttontienda{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #ecece4;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

.product-container-tienda {
    margin: 20px 0;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
    cursor: pointer;
    border-radius: 12px;
    height: 24rem;
}

.items-producto{
    box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.50);
-webkit-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.30);
-moz-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.76);
margin: 3rem;
}
.page-content a {
    position: relative;
    z-index: -1;
    border-radius: 2%;
    margin-bottom: 6rem;
}


.bloque-ofertas-tienda {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 1, 0.481);
    color: white;
    margin: 0;
    /* padding: 8px 0 4px; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
}
/* .contenidoTienda{

} */

.menuh3 {
    text-align: center;
    margin: 0.5rem 0;
}
#aProducto{
    z-index: 4;
    position: relative;
    height: auto;
    top: 0;
    left: 139px;
}

.tienda-h1 {
    margin-right: 9rem;
}

.product-container-tienda:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container-tienda img {
    width: 300px;
    height: 300px;
}

.product-container-tienda h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.button-tienda {
    background-color: white;
    color: black;
    border: 2px solid gray;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
    cursor: pointer;
}

#buttontienda:hover {
    background-color: lightgreen; /*#4CAF50 Green */
    color: white;
}


/* next y previous */
#a-tienda {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#a-tienda:hover {
    background-color: #ddd;
    color: black;
}

.tienda-previous {
    background-color: #f1f1f1;
    color: black;
}

.tienda-next {
    background-color: #04AA6D;
    color: white;
}

.next-previous-tienda {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}


@media(min-width:998px) {
 .checkbox-Tienda{
    margin-top: 6rem;
 }
}

@media(min-width:1513px){
    .items-producto{ 
        margin: 1rem;
}
}
 
