<!-- HEAD -->
<%- include('partials/head') %> 
<!-- END HEAD -->
    
<!-- HEADER -->
<%- include('partials/header') %> 
<!-- END HEADER -->


<!-- MENU -->

<body class="Carrito-igor">  
<!-- MENU CARRITO -->

<body class="Carrito-igor">  
    <!-- MENU CARRITO -->
    <div class="carrito-title">
            <p>Carrito (2)</p>
        <hr class="separadorCarros">  
            <div class="contenedor-igor">
                <div class="primeraOpcionesCArrito">
                    <div class="igor2">
                        <div class="fondoimg">
                            <img  width="100px"  src="images/3raOFerta-Pittacum-Petit-Pittacum.png">
                        </div>
                        <div class="bloque-ofertas-igor">                         
                            <span class="titulo-figure-igor"><h3>Pittacum petit 2021</h3></span>
                            <span class="oferta-figure-igor">$3500</span>
                        </div>                     
                    </div>
    
                    <div class="A침adir-carro-figure-igor">                   
                        <div class="unidad">
                            <p>Unidad</p>  
                        </div>                               
                        <input id="number" type="number" value="1">                
                    </div> 
                </div>
    
                    <div class="opcionesCarrito">
                        <a href="#"> <h4 class="textoCarrito">Eliminar</h4></a>
                        <div class="carritoOculto">
                            <a href="#"><h4 class="textoCarrito"> Ver m치s productos</h4></a>
                        </div>
                        <div class="carritoOculto">
                            <a href="#"><h4 class="textoCarrito"> Comprar ahora </h4></a>
                        </div>
                    </div>
            </div> 
        <hr class="separadorCarros">                   
    
        <div class="contenedor-igor">
            <div class="primeraOpcionesCArrito">
                <div class="igor2">
                    <div class="fondoimg">
                        <img  width="100px"  src="images/3raOFerta-Pittacum-Petit-Pittacum.png">
                    </div>
                    <div class="bloque-ofertas-igor">                         
                        <span class="titulo-figure-igor"><h3>Pittacum petit 2021</h3></span>
                        <span class="oferta-figure-igor">$3500</span>
                    </div>                     
                </div>
    
                <div class="A침adir-carro-figure-igor">                   
                    <div class="unidad">
                        <p>Unidad</p>  
                    </div>                               
                    <input id="number" type="number" value="1">                
                </div> 
            </div>
    
                <div class="opcionesCarrito">
                    <a href="#"> <h4 class="textoCarrito">Eliminar</h4></a>
                    <div class="carritoOculto">
                        <a href="#"><h4 class="textoCarrito"> Ver m치s productos</h4></a>
                    </div>
                    <div class="carritoOculto">
                        <a href="#"><h4 class="textoCarrito"> Comprar ahora </h4></a>
                    </div>
                </div>
        </div> 
        <hr class="separadorCarros">                     
                <div class="carrito-compra">
                    <div class="summary">
                        <p class="summary-label">Total $7.000</p>                                                                                                         
                    </div>
    
                    <div class="summary-action">
                        <button type="submit" class="btn btn-submit">Comprar</button>           
                    </div>

                </div>
                
</div>
<!-- -------------------------------------------------- -->
<!-- JS del home -->
<%- include('partials/js') %> 
<!-- END JS del home -->

<!-- FOOTER -->
<%- include('partials/footer') %> 
<!-- END FOOTER -->
</body>
</html>
