<!-- HEAD -->
<%- include('partials/head') %> 
<!-- END HEAD -->
    
<!-- HEADER -->
<%- include('partials/header') %> 
<!-- END HEADER -->


<!-- MENU -->

<body class="Carrito-igor">  
<!-- MENU CARRITO -->

<body class="Carrito-igor">  
    <!-- MENU CARRITO -->
    <div class="carrito-title">
            <p> Mi carrito </p>
        <hr class="separadorCarros">  
            <div class="contenedor-igor">
                <div class="primeraOpcionesCArrito">
                    <div class="igor-padre1">
                        <div class="fondoimg">
                            <img class="img1" width="100px"  src="../images/3raOFerta-Pittacum-Petit-Pittacum.png">
                            <div class="igor-tit1">                        
                            <span class="titulo-figure-igor"><h3>Pittacum petit 2021</h3></span>
                            </div>
                            <div class="igor-h2">
                            <ul class="igor-li1">
                                <li>Precio:</li>
                                <li>Total:</li>
                                <li>Envio:</li>
                            </ul>
                           </div>
                           <div>
                            <ul class="igor-li2">
                                <li class="igorli2-1">$ 2.000</li>
                                <li>xxxxx</li>
                                <li class="igorli2-2"> A calcular</li>
                            </ul>
                           </div>
                        </div>
                        </div>                     
                    </div>
                    <div class="Añadir-carro-figure-igor">                   
                        <div class="igor-c">
                            <p>Cantidad</p>  
                        </div> 
                        <input id="number" type="number" value="1">    
                   </div> 
                </div>
    
                    <div class="opcionesCarrito">
                        <ul class="igor-op3">
                            <li class="igor-op3">Eliminar</li>
                            <li class="igor-op3">Ver mas productos</li>
                        </ul>
                        </div>
                    </div>
            </div> 
        <hr class="separadorCarros">                   
    
        <div class="contenedor-igor">
            <div class="primeraOpcionesCArrito">
                <div class="igor2">
                    <div class="fondoimg">
                        <img class="img2" width="100px"  src="../images/3raOFerta-Pittacum-Petit-Pittacum.png">
                    </div>
                    <div class="bloque-ofertas-igor">                         
                        <span class="titulo-figure-igor2-tit2"><h3>Pittacum petit 2021</h3></span>
                    </div>
                    <div class="igor-h3">
                        <ul class="igor-li4">
                            <li>Precio:</li>
                            <li>Total:</li>
                            <li>Envio:</li>
                        </ul>
                       </div>
                       <div>
                        <ul class="igor-li5">
                            <li class="igorli2-1">$ 2.000</li>
                            <li>xxxxx</li>
                            <li class="igorli2-2"> A calcular</li>
                        </ul>
                       </div>                     
                </div>
    
                <div class="Añadir-carro-figure-igor">                   
                    <div class="unidad">
                        <p>Cantidad</p>  
                    </div>                               
                    <input id="number1" type="number" value="1">                
                </div> 
            </div>
            <div class="opcionesCarrito">
                <ul class="igor-op4">
                    <li class="igor-op5">Eliminar</li>
                    <li class="igor-op5">Ver mas productos</li>
                </ul>
                </div>
                </div>
        </div> 
        <hr class="separadorCarros">                     

        <div class="igor-fin4p">
        <p>Agregar cupón</p>
        <div class="igor-cupon">
            <p class="igor-cp1">Codigo</p>
            <p class="igor-cp2">Aplicar</p>
        </div>
        <div class="igor-pago">
            <ul class="igor-cp3">
                <li class="igor-cp3-1">Sub total</li>
                <li class="igor-cp3-1">Total</li>
            </ul>
            </div>
            <div class="igor-pago-2">
                <ul class="igor-cp3">
                    <li class="igor-cp3-1">$</li>
                    <li class="igor-cp3-1">$</li>
                </ul>
                </div>
                <div class="summary-action">
                    <button type="submit" class="btn btn-submit">Pagar</button>           
                </div>

        </div>
    


                </div>
                
</div>


<!-- -------------------------------------------------- -->
<!-- JS del home -->
<%- include('partials/js') %> 
<!-- END JS del home -->

<!-- FOOTER -->
<%- include('partials/footer') %> 
<!-- END FOOTER -->
</body>
</html>
