  <!-- HEAD -->
  <%- include('partials/head') %> 
  <!-- END HEAD -->
    
  <!-- HEADER -->
  <%- include('partials/header') %> 
  <!-- END HEADER -->
  

<!-- MENU -->
<!--  INICIO FORM -->
<body>
  <div class="container-t">
    <div class="forms-container-t">
      <div class="Signin-signup">

        <form action="#" class="sign-in-form">
          <h2 class="title-t">Iniciar sesi칩n</h2>
          <div class="input-box">
            <i class="fas fa-user"></i>
            <input class="input-t" type="text" placeholder="Usuario" />
          </div>
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Contrase침a" />
          </div>
          <input type="submit" class="btn solid" value="Iniciar sesi칩n" />
          <p class="smedia-text">O inicia sesi칩n con una de las siguientes plataformas</p>
          <div class="icon-container">
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
          </div>
        </div>
        <p class="register-container"><a class="no-acc" href="register">No tengo cuenta</a></p>
        </form>

      </div>
    </div>

    <div class="panel-t"></div>
  </div>
<!-- FIN MENU -->


    <!-- -------------------------------------------------- -->
  <!-- JS del home -->
  <%- include('partials/js') %> 
  <!-- END JS del home -->
  
  <!-- FOOTER -->
  <%- include('partials/footer') %> 
  <!-- END FOOTER -->
  </body>
</html>
