<!-- HEAD -->
<%- include('partials/head') %> 
<!-- END HEAD -->

<!-- HEADER -->
<%- include('partials/header') %> 
<!-- END HEADER -->
    <body class="Body404">
        <div class="contenedor_del_404">
        
    
        <p class="P_de_404">
            <b>Error 404.</b>    
        </p>
    
        <p class="P_de_404">
            el URL ingresado
            <!-- <code>/</code> -->
        no fue encontrado en este servidor. 
        </p>
        <ins>reintente ingresando la dirección.</ins>

        <a href="/">
            <img src="/images/LOGO.png" alt="logo" class="logo404">
        </a>

    </div>
        

<!-- JS del home -->
    <%- include('partials/js') %> 
<!-- END JS del home -->

<!-- FOOTER -->
    <%- include('partials/footer') %> 
<!-- END FOOTER -->
</body>
</html>
