<!-- HEAD -->
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/styles.css">
<!-- END HEAD -->
    
<!-- HEADER -->
    <%- include('partials/header') %> 
<!-- END HEADER -->


<!-- MENU -->

<!-- FIN MENU -->


    <!-- -------------------------------------------------- -->
<!-- JS del home -->
    <%- include('partials/js') %> 
<!-- END JS del home -->

<!-- FOOTER -->
    <%- include('partials/footer') %> 
<!-- END FOOTER -->
    </body>
</html>
