<!-- HEAD -->
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/styles.css">
<!-- END HEAD -->
    


<body>
    <!-- HEADER -->
    <%- include('partials/header') %> 
    <!-- END HEADER -->

    <!-- MENU -->
    <div class="body-de-tienda">
            <div class="page-content">
                    <div class="product-container-tienda">
                        <img src="/images/SuperUco-Coluvio.png" alt="">
                        <div class="bloque-ofertas-tienda">
                        <h3 class="menuh3" >SuperUco Calcáreo 2016</h3>
                            <h1 class="tienda-h1">$6.000,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    
                    <div class="product-container-tienda">
                        <img src="/images/per-se-inseparable-2018.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Inseparable Malbec 2019</h3>
                            <h1 class="tienda-h1">$6.000,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>

                    <div class="product-container-tienda">
                        <img src="/images/Zuccardi-Concreto.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Zuccardi Concreto 2018</h3>
                            <h1 class="tienda-h1">$6.420,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                
                
                    <div class="product-container-tienda">
                        <img src="/images/Riccitelli-Republica-del-Malbec.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Riccitelli República del Malbec 2017</h3>
                            <h1 class="tienda-h1">$6.700,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                
                    <div class="product-container-tienda">
                        <img src="/images/ylanaveva2018.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Y La Nave Va 2020</h3>
                            <h1 class="tienda-h1">$6.760,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                
                    <div class="product-container-tienda">
                        <img src="/images/Noemia-A-Lisa-2019.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >A Lisa 2019 Magnum</h3>
                            <h1 class="tienda-h1">$7.000,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    <div class="product-container-tienda">
                        <img src="/images/Noemia-J-Alberto.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >J Alberto 2020</h3>
                            <h1 class="tienda-h1">$7.000,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    <div class="product-container-tienda">
                        <img src="/images/Almacen-de-la-Quebrada-Cachi.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Almacen de la Quebrada Cachi 2019</h3>
                            <h1 class="tienda-h1">$7.000,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    <div class="product-container-tienda">
                        <img src="/images/Tacuil-VinasdeDavalos.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Viñas de Dávalos 2017</h3>
                            <h1 class="tienda-h1">$7.260,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    <div class="product-container-tienda">
                        <img src="/images/Cru-de-Montana-Tinto-de-San-Pablo.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Tinto de San Pablo 2018</h3>
                            <h1 class="tienda-h1">$3.500,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    <div class="product-container-tienda">
                        <img src="/images/Estancia-Uspallata-Malbec.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Estancia Uspallata Malbec 2018e</h3>
                            <h1 class="tienda-h1">$8.580,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    <div class="product-container-tienda">
                        <img src="/images/Riccitelli-Vintage-Gualtallary.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Riccitelli Vintage Malbec 2018</h3>
                            <h1 class="tienda-h1">$10.300,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    <div class="product-container-tienda">
                        <img src="/images/Inculto-El-Algarrobo-Malbec.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Inculto El Algarrobo Malbec 2019</h3>
                            <h1 class="tienda-h1">$11.500,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    <div class="product-container-tienda">
                        <img src="/images/Inculto-El-Abrazo-Malbec.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >Inculto El Abrazo Malbec 2019</h3>
                            <h1 class="tienda-h1">$11.500,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    <div class="product-container-tienda">
                        <img src="/images/Canopus-La-Gran-Nave.png" alt="">
                        <div class="bloque-ofertas-tienda">
                            <h3 class="menuh3" >La Gran Nave Malbec 2017</h3>
                            <h1 class="tienda-h1">$12.650,00</h1>
                            <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                        </div>
                    </div>
                    
                </div>
                    <div class="next-previous-tienda">
                        <a href="#" id="a-tienda" class="tienda-previous">&laquo; Previous</a>
                        <a href="#" id="a-tienda"class="tienda-next">Next &raquo;</a>
                    </div>
    </div>

<!-- FIN MENU -->

    <!-- -------------------------------------------------- -->
<!-- JS del home -->
    <%- include('partials/js') %> 
<!-- END JS del home -->

<!-- FOOTER -->
    <%- include('partials/footer') %> 
<!-- END FOOTER -->
    </body>
</html>
