  <!-- HEAD -->
  <%- include('partials/head') %> 
  <link rel="stylesheet" href="/css/styles.css">
  <!-- END HEAD -->
    
  <!-- HEADER -->
  <%- include('partials/header') %> 
  <!-- END HEADER -->

<!-- MENU -->
  <!--  INICIO FORM -->
  <body>
    <div class="container-t">
      <div class="forms-container-t">
        <div class="Signin-signup">

          <form action="/usuarios/registro" method="POST" class="sign-in-form">
            <h2 class="title-t">Registrarse</h2>
            <div class="input-box">
              <i class="fas fa-user"></i>
              
              <input class="input-t" name="name" type="text" id="email" placeholder="Usuario" /><label for="name"></label>
            </div>
            <div class="input-box">
              <i class="fas fa-user"></i>
              
              <input class="input-t" name="email" type="email" id="email" placeholder="Email" /><label for="email"></label>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              
              <input type="password" name="password" id="password" placeholder="Contraseña" /><label for="password"></label>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              
              <input type="password" name="password" id="password" placeholder="Repetir contraseña" /><label for="password"></label>
            </div>
            <input type="submit" class="btn solid" value="Crear cuenta" />
            <p class="smedia-text">O inicia sesión con una de las siguientes plataformas</p>
            <div class="icon-container">
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
            </div>
          </div>
          <p class="register-container"><a class="no-acc" href="login">Ya tengo cuenta</a></p>
          </form>

        </div>
      </div>

      <div class="panel-t"></div>
    </div>

<!-- FIN MENU -->


    <!-- -------------------------------------------------- -->
  <!-- JS del home -->
  <%- include('partials/js') %> 
  <!-- END JS del home -->
  
  <!-- FOOTER -->
  <%- include('partials/footer') %> 
  <!-- END FOOTER -->
  </body>
</html>
