<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menù Lateral con Css</title>
	<link rel="stylesheet" href="../../../public/css/sidebar.css">
</head>
<body>

	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu-sidebar">
<div class="container-menu-sidebar">
	<div class="cont-menu-sidebar">
		<nav>
			<h2 class="sidebar-title">Categorias</h2>
			<a class="categorias-sidebar" href="#">Especiales</a>
			<a class="categorias-sidebar" href="#">Tintos</a>
			<a class="categorias-sidebar" href="#">Blancos</a>
			<a class="categorias-sidebar" href="#">Rosados</a>
		</nav>
		<label for="btn-menu-sidebar">✖️</label>
	</div>
</div>
</body>
</html>